# Core
pandas>=2.2.2
numpy>=1.26.4
requests>=2.31.0

# Time series models
pmdarima>=2.0.4
prophet>=1.1.5
statsmodels>=0.14.2

# ML models
scikit-learn>=1.4.2
xgboost>=2.0.3

# Deep learning (for TFT)
torch>=2.2.2
pytorch-forecasting>=1.0.0
pytorch-lightning>=2.2.2

# Experiment tracking
mlflow>=2.12.1

# API / Dashboard
fastapi>=0.110.2
uvicorn>=0.29.0
streamlit>=1.33.0

# Viz
matplotlib>=3.8.4
seaborn>=0.13.2
plotly>=5.21.0

# Testing
pytest>=8.1.1